!/app/assets/builds/.keep
!/log/.keep
!/storage/.keep
!/tmp/.keep
!/tmp/pids/.keep
!/tmp/storage/.keep
/.bundle
/.devcontainer
/.dockerignore
/.env*
/.git/
/.gitignore
/.kamal
/Dockerfile*
/app/assets/builds/*
/config/credentials/*.key
/config/deploy*.yml
/config/master.key
/log/*
/node_modules/
/public/assets
/storage/*
/tmp/*
/tmp/pids/*
/tmp/storage/*
