@font-face {
  font-family: 'alice';
  src: url("./alice.ttf");
}

body {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: grid;
  font-family: 'alice';
  font-size: 1.2em;
  font-size: 300%;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  justify-items: center;
  padding: 0;
}

pre { font-family: 'alice'; }

@media all and (max-width: 600px) {
  body { font-size: 120%; }
}
