@font-face {
  font-family: 'alice';
  src: url("./alice.ttf");
}

a {
  color: #777;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'alice';
  font-size: 1.0em;
  padding: 0;
}

footer {
  margin-top: 20px;
  text-align: right;
}

main {
  align-items: end;
  display: grid;
  grid-template-rows: 95% 1fr;
  height: 50vh;
  justify-content: center;
}

pre {
  font-family: 'alice';
  font-size: 300%;
  margin: 0;
}

pre a {
  color: #fff;
  text-decoration: none;
}

@media all and (max-width: 600px) {
  pre { font-size: 150%; }
}
